// http://ionicframework.com/docs/theming/
.scroll-content{
    background: url("../assets/imgs/sunset.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}